* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
}

#results {
    text-align: center;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}